---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to the Sam Hodges Newsroom.</h1>
			<p>
				Please press on "Sam Hodges Newsroom" in the navigation bar to continure
			</p>
		</main>
		<Footer />
	</body>
</html>
